<html>  
  <head>
    <title></title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
  </head>
  <body class="main">
    <section>
      <div class="container">
    	  <div class="row">
    		  <div class="col-md-6 col-md-offset-3">
              <hgroup>
                <h2>
                  Search Your image 
                </h2>
              </hgroup>
        	    <div class="well">
                <form id="searchForm">
                  <div class="input-group">
                     <input class="btn btn-lg" name="q" id="query" type="text" placeholder="Your Keyword" required>
                     <button class="btn btn-info btn-lg" id="submit" type="submit">Submit</button>
                  </div>
                </form>
                <a href="#" id="keywords"> Recent Keywords </a>
        	    </div>
          
           <div id="spinner" style="display:none">
              <img src="/spinner.gif" style="width:128px !important;height:128px !important;" />
           </div>
           <ul id="List"></ul>
    		</div>
    	</div>
    </div>
    </section>
    <link rel="stylesheet" type="text/css" href="/application.css"> 
    <script type="text/javascript" src="/application.js"></script>
  </body>
</html>
